{
  "name": "malcomy_lite",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../../style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "style.scss",
      "imports": [
        "variables-site/_variables-site.scss",
        "mixins/_mixins-master.scss",
        "_normalize.scss",
        "typography/_typography.scss",
        "grid/_grid.scss",
        "elements/_elements.scss",
        "forms/_forms.scss",
        "navigation/_navigation.scss",
        "modules/_accessibility.scss",
        "modules/_alignments.scss",
        "modules/_clearings.scss",
        "modules/_comments.scss",
        "modules/_author-bio.scss",
        "modules/_share.scss",
        "card/_card.scss",
        "site/_site.scss",
        "pages/_pages.scss",
        "site/secondary/_widgets.scss",
        "widgets/_widgets.scss",
        "media/_media.scss",
        "builder/_builder.scss",
        "variables-site/_colors.scss",
        "variables-site/_typography.scss",
        "variables-site/_structure.scss",
        "mixins/_transform.scss",
        "mixins/_border-radius.scss",
        "typography/_headings.scss",
        "typography/_copy.scss",
        "grid/_variables.scss",
        "grid/_breakpoints.scss",
        "grid/_mixins.scss",
        "elements/_lists.scss",
        "elements/_tables.scss",
        "elements/_page-preloader.scss",
        "elements/_totop-button.scss",
        "forms/_buttons.scss",
        "forms/_fields.scss",
        "forms/_search-form.scss",
        "forms/_comment-form.scss",
        "forms/_password-form.scss",
        "navigation/_links.scss",
        "navigation/_top-menu.scss",
        "navigation/_main-menu.scss",
        "navigation/_footer-menu.scss",
        "navigation/_paginations.scss",
        "navigation/_breadcrumbs.scss",
        "navigation/_social.scss",
        "card/_variables.scss",
        "layout/_layout.scss",
        "site/primary/_header.scss",
        "site/primary/_posts-and-pages.scss",
        "site/primary/_post-formats.scss",
        "site/primary/_footer.scss",
        "pages/_404.scss",
        "widgets/_defaults.scss",
        "widgets/_subscribe.scss",
        "widgets/third-party-plugins/_contact-form-7.scss",
        "media/_captions.scss",
        "media/_galleries.scss",
        "media/_embeds.scss",
        "builder/_main.scss",
        "builder/modules/_accordion.scss",
        "builder/modules/_audio.scss",
        "builder/modules/_bar-counters.scss",
        "builder/modules/_blog.scss",
        "builder/modules/_blurb.scss",
        "builder/modules/_button.scss",
        "builder/modules/_brands-showcase.scss",
        "builder/modules/_call-to-action.scss",
        "builder/modules/_carousel.scss",
        "builder/modules/_circle-counter.scss",
        "builder/modules/_contact-form.scss",
        "builder/modules/_countdown-timer.scss",
        "builder/modules/_number-counter.scss",
        "builder/modules/_person.scss",
        "builder/modules/_posts.scss",
        "builder/modules/_pricing-tables.scss",
        "builder/modules/_projects.scss",
        "builder/modules/_projects-terms.scss",
        "builder/modules/_slider.scss",
        "builder/modules/_social-media-follow.scss",
        "builder/modules/_testimonial.scss",
        "builder/modules/_toggle.scss",
        "builder/modules/_tabs.scss",
        "builder/modules/_taxonomy.scss",
        "builder/modules/_map.scss",
        "builder/modules/_video-slider.scss",
        "builder/modules/_divider.scss",
        "builder/modules/_team-members.scss",
        "site/primary/header/_layout-minimal.scss",
        "site/primary/header/_top-panel.scss",
        "site/primary/header/_logo.scss",
        "site/primary/_sticky.scss",
        "site/primary/footer/_layout-minimal.scss"
      ]
    },
    {
      "path": "builder/_builder.scss",
      "imports": [
        "builder/_main.scss",
        "builder/modules/_accordion.scss",
        "builder/modules/_audio.scss",
        "builder/modules/_bar-counters.scss",
        "builder/modules/_blog.scss",
        "builder/modules/_blurb.scss",
        "builder/modules/_button.scss",
        "builder/modules/_brands-showcase.scss",
        "builder/modules/_call-to-action.scss",
        "builder/modules/_carousel.scss",
        "builder/modules/_circle-counter.scss",
        "builder/modules/_contact-form.scss",
        "builder/modules/_countdown-timer.scss",
        "builder/modules/_number-counter.scss",
        "builder/modules/_person.scss",
        "builder/modules/_posts.scss",
        "builder/modules/_pricing-tables.scss",
        "builder/modules/_projects.scss",
        "builder/modules/_projects-terms.scss",
        "builder/modules/_slider.scss",
        "builder/modules/_social-media-follow.scss",
        "builder/modules/_testimonial.scss",
        "builder/modules/_toggle.scss",
        "builder/modules/_tabs.scss",
        "builder/modules/_taxonomy.scss",
        "builder/modules/_map.scss",
        "builder/modules/_video-slider.scss",
        "builder/modules/_divider.scss",
        "builder/modules/_team-members.scss"
      ]
    },
    {
      "path": "card/_card.scss",
      "imports": [
        "card/_variables.scss"
      ]
    },
    {
      "path": "elements/_elements.scss",
      "imports": [
        "elements/_lists.scss",
        "elements/_tables.scss",
        "elements/_page-preloader.scss",
        "elements/_totop-button.scss"
      ]
    },
    {
      "path": "forms/_forms.scss",
      "imports": [
        "forms/_buttons.scss",
        "forms/_fields.scss",
        "forms/_search-form.scss",
        "forms/_comment-form.scss",
        "forms/_password-form.scss"
      ]
    },
    {
      "path": "grid/_grid.scss",
      "imports": [
        "grid/_variables.scss",
        "grid/_breakpoints.scss",
        "grid/_mixins.scss"
      ]
    },
    {
      "path": "media/_media.scss",
      "imports": [
        "media/_captions.scss",
        "media/_galleries.scss",
        "media/_embeds.scss"
      ]
    },
    {
      "path": "mixins/_mixins-master.scss",
      "imports": [
        "mixins/_transform.scss",
        "mixins/_border-radius.scss"
      ]
    },
    {
      "path": "navigation/_navigation.scss",
      "imports": [
        "navigation/_links.scss",
        "navigation/_top-menu.scss",
        "navigation/_main-menu.scss",
        "navigation/_footer-menu.scss",
        "navigation/_paginations.scss",
        "navigation/_breadcrumbs.scss",
        "navigation/_social.scss"
      ]
    },
    {
      "path": "pages/_pages.scss",
      "imports": [
        "pages/_404.scss"
      ]
    },
    {
      "path": "site/_site.scss",
      "imports": [
        "layout/_layout.scss",
        "site/primary/_header.scss",
        "site/primary/_posts-and-pages.scss",
        "site/primary/_post-formats.scss",
        "site/primary/_footer.scss",
        "site/primary/header/_layout-default.scss",
        "site/primary/header/_layout-centered.scss",
        "site/primary/header/_layout-minimal.scss",
        "site/primary/header/_top-panel.scss",
        "site/primary/header/_logo.scss",
        "site/primary/_sticky.scss",
        "site/primary/footer/_layout-default.scss",
        "site/primary/footer/_layout-centered.scss",
        "site/primary/footer/_layout-minimal.scss"
      ]
    },
    {
      "path": "typography/_typography.scss",
      "imports": [
        "typography/_headings.scss",
        "typography/_copy.scss"
      ]
    },
    {
      "path": "variables-site/_variables-site.scss",
      "imports": [
        "variables-site/_colors.scss",
        "variables-site/_typography.scss",
        "variables-site/_structure.scss"
      ]
    },
    {
      "path": "widgets/_widgets.scss",
      "imports": [
        "widgets/_defaults.scss",
        "widgets/_banner.scss",
        "widgets/_carousel.scss",
        "widgets/_image-grid.scss",
        "widgets/_instagram.scss",
        "widgets/_smart-slider.scss",
        "widgets/_subscribe.scss",
        "widgets/_taxonomy-tiles.scss",
        "widgets/_custom-posts.scss",
        "widgets/third-party-plugins/_contact-form-7.scss"
      ]
    },
    {
      "path": "site/primary/_footer.scss",
      "imports": [
        "site/primary/footer/_layout-default.scss",
        "site/primary/footer/_layout-centered.scss",
        "site/primary/footer/_layout-minimal.scss"
      ]
    },
    {
      "path": "site/primary/_header.scss",
      "imports": [
        "site/primary/header/_layout-default.scss",
        "site/primary/header/_layout-centered.scss",
        "site/primary/header/_layout-minimal.scss",
        "site/primary/header/_top-panel.scss",
        "site/primary/header/_logo.scss"
      ]
    },
    {
      "path": "site/primary/_posts-and-pages.scss",
      "imports": [
        "site/primary/_sticky.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}