<blockquote>
	%%AVATAR%%
	<div class="tm-testi__item-body">
		<h5>%%COMPANY%%</h5>
		%%CONTENT%%
		<footer>
			<p>%%EMAIL%%</p>
			<p>%%POSITION%%</p>
			<cite>%%NAME%%</cite>
		</footer>
	</div>
</blockquote>
