@media screen and (max-width: 1199px) {

  .content {
    .box {
      background-size: contain;
    }
  }
  //============================================
}

@media screen and (max-width: 991px) {
  .header {
    .menu {
      font-size: 16px;
    }
  }
  .b1 .title {
    font-size: 100px;
    line-height: 1;
    padding-top: 50px;
  }
  .b1-about {
    font-size: 22px;
    line-height: 1;
    padding-top: 35px;
  }
  .b1-footer {
    margin-top: 65px;
  }
  .author {
    padding: 50px 0;
    .about-author {
      padding-bottom: 40px;
      text-align: center;
    }
  }
  .content {
    padding: 50px 0;
    .title {
      padding-bottom: 0;
    }
    .box {
      height: 350px;
      &-img {
        padding-top: 90px;
      }
      &-text {
        font-size: 22px;
      }
    }
  }
  .contacts {
    padding: 50px 0;
  }
  .footer {
    padding: 30px 0;
    .menu {
      font-size: 16px;
      line-height: 1;
      li::before {
        display: none;
      }
    }
  }
  //======================================

}

@media screen and (max-width: 767px) {
  .b1 .social-icon {
    justify-content: space-around;
  }
  .b1 {
    .top-nav_btn {
      display: block;
    }
    .menu {
      flex-direction: column;
      margin-top: 20px;
      display: none;
      transition: all 0.8s;
      &__active {
        display: flex;
      }
      li {
        margin-top: 10px;
      }
    }
  }
  .content {
    padding-top: 100px;
  }
  .blog {
    background-size: 70%;
    background-position: center 98%;
    .box {
      margin-top: 20px;
    }
  }
  .footer {
    .menu {
      flex-direction: column;
      li {
        padding: 10px 0;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .b1 {
    .title {
      font-size: 50px;
    }
    &-about {
      font-size: 18px;
    }
    .social-icon a {
      font-size: 20px;
    }
  }
}