@import "fonts";
@import "variebles";

.title {
  font-family: $phillipp;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

//================ BLOCK-1 ==================
.b1 {
  background: url("../img/b1-bg.jpg") no-repeat center top;
  padding-bottom: 50px;
  .title {
    color: #ffffff;
    font-family: $phillipp;
    font-size: 130px;
    font-weight: 400;
    line-height: 100px;
    text-align: left;
    letter-spacing: 2.6px;
    padding-top: 150px;
  }
  &-about {
    color: #ffffff;
    font-family: $proxima;
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.44px;
    padding-top: 113px;
  }
  &-footer {
    margin-top: 200px;
  }
  .year {
    color: #ffffff;
    font-family: $segoeUI;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.48px;
  }
  .social-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header {
  padding: 25px 0;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    &-text {
      color: #ffffff;
      font-family: $phillipp;
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 0.64px;
      margin-left: 5px;
    }
    img {
      margin-top: -15px;
    }
  }
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $proxima;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    a {
      text-decoration: none;
      color: #ffffff;
      transition: all 0.5s;
      padding: 5px 15px;
      border-radius: 20px;
      &:hover{
        //color: orange;
        background: rgba(255,255,255,0.2);
      }
    }
  }
}

//================ BLOCK-2 ==================
.author {
  background: url("../img/b2-bg.png") no-repeat left center;
  padding: 150px 0;
  .about-author {
    color: #333333;
    font-family: $segoeUI;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    padding-top: 40px;
    &-text {
      padding-top: 30px;
      text-align: left;
    }
  }
  .father-img {
    img {
      max-width: 100%;
    }
  }
}

//================ BLOCK-3 ==================
.content {
  background: url("../img/b3-bg.jpg") no-repeat center top;
  padding: 100px 0;
  background-size: cover;
  .title {
    color: #ffffff;
    padding-bottom: 90px;
  }
  .box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url("../img/b3-box-bordere.png") no-repeat center center;
    height: 370px;
    &-img {
      padding-top: 50px;
    }
    &-text {
      color: #ffffff;
      font-family: $segoeUI;
      font-size: 28px;
      font-weight: 600;
      letter-spacing: 0.56px;
      text-align: center;
      padding-top: 20px;
    }
  }
}

//================ BLOCK-4 ==================
.contacts {
  background: url("../img/b4-bg1.png") no-repeat 10% 10%, url("../img/b4-bg-2.png") no-repeat 90% 90%;
  padding: 135px 0;
  .address, .phone {
    color: #333333;
    font-family: $segoeUI;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.36px;
    text-align: center;
    padding-top: 20px;
  }
  .phone {
    padding-bottom: 80px;
  }
  #form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input, textarea {
      width: 70%;
      margin-bottom: 20px;
      padding: 15px 25px;
      border: none;
      border-bottom: 2px solid #949494;
      color: black;
      font-family: $segoeUI;
      font-size: 16px;
      letter-spacing: 0.28px;
      &::placeholder {
        color: #999999;
      }
    }
    textarea {
      margin-top: 30px;
      border: 2px solid #949494;
      background: white;
    }
    .button {
      margin-top: 25px;
      color: #a0a0a0;
      font-family: $segoeUI;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.32px;
      background: white;
      padding: 17px 65px;
      border-radius: 15px 0;
      border: 1px solid #a0a0a0;
      transition: all 0.3s;
      &:hover {
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.17);
        cursor: pointer;
        background-color: #999;
        color: white;
      }
    }
  }
}

//================ BLOCK-5 ==================
.blog {
  background: url("../img/blog-bg.png") no-repeat 10% 90%;
  padding: 50px 0 300px;
  .title {
    padding-bottom: 45px;
    color: #333333;
  }
  .box {
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    height: 450px;
    overflow: hidden;
    a {
      text-decoration: none;
    }
    &-img {
      img {
        width: 100%;
      }
    }
    &:hover {
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.17);
      cursor: pointer;
    }
  }
  .box-text {
    text-align: center;
    &-title {
      padding: 20px;
      color: #333333;
      font-family: $segoeUI-SemiBold;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
    }
    &-post {
      color: #666666;
      font-family: $segoeUI;
      font-size: 12px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: start;
      .count {
        margin-left: 10px;
      }
    }
    &-describe {
      color: #666666;
      font-family: $segoeUI;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      padding: 15px 25px 25px;
    }
  }
}

//============== == BLOCK-6 ==================
.footer {
  background: url("../img/footer-bg.jpg") no-repeat center top;
  padding: 75px 0;
  background-size: cover;
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $proxima;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    padding: 8px 0;
    li {
      position: relative;
      width: 150px;
      text-align: center;
      &::before {
        content: '';
        width: 1px;
        height: 27px;
        background-color: #ffffff;
        opacity: 0.23;
        position: absolute;
        left: -10%;
        top: -5px;
      }
      &:first-child::before {
        display: none;
      }
    }
    a {
      text-decoration: none;
      color: #ffffff;
      transition: all 0.5s;
      &:hover{
        color: orange;
      }
    }
  }
}

//============================================
@import "media";


