<div class="project-terms-media no-terms-caption">
	%%TERMIMAGE size="malcolmy_lite-thumb-420-305"%%
	<div class="hover-content row-format project-terms-caption">
		%%TERMNAME%%
		%%TERMPERMALINK%%
	</div>
</div>
